{% extends 'base.html.twig' %}

{% block title %}Url index{% endblock %}

{% block body %}
    <h1>URL Shortener</h1>

    <div>
        {{ include('url/_form.html.twig') }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
                <th>Title</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td>
                    <a href="{{ url.orginal }}">{{ url.orginal }}</a>
                </td>
                <td>
                    <a href="{{app.request.getSchemeAndHttpHost()}}/{{ url.short }}">
                        {{app.request.getHttpHost()}}/{{ url.short }}
                    </a>
                </td>
                <td>{{ url.title }}</td>
                <td>{{ url.access }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
