{% extends 'base.html.twig' %}

{% block title %}Url{% endblock %}

{% block body %}
    <h1>Url</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Long URL</th>
                <td><a href="{{ url.orginal }}">{{ url.orginal }}</a></td>
            </tr>
            <tr>
                <th>Short URL</th>
                <td>
                    <a href="{{app.request.getSchemeAndHttpHost()}}/{{ url.short }}">
                        {{app.request.getHttpHost()}}/{{ url.short }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ url.title }}</td>
            </tr>
            <tr>
                <th>Access</th>
                <td>{{ url.access }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('url_index') }}">Back to home</a>
{% endblock %}
